<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All books</title>
</head>
<body>
<br>
<br>
<hr>
<br>
<form method="get">
    <input type="text" placeholder="Qidirish uchun nimadir yoz" name="kalit">
    <button>Qidirish</button>
</form>

<br>
{% for book in all_books_2 %}
<h2>{{book.id}} -- {{book.nom}} -- {{book.muallif.ism}}</h2>
<!--<a href="/delete_book/{{book.id}}/"><button>Delete</button></a>-->
{% endfor %}

<br>
<hr>
<br><br>
<form method="post"> {% csrf_token %}
    <input type="text" placeholder="Kitob nomi" name="nom">
    <br>
    <input type="number" placeholder="Kitob sahifasi" name="k_safifa"><br>
    <br>
    <input type="text" placeholder="janr" name="janr">
    <br>
    <label for="muallif"></label>
    <select name="muallif" id="muallif">
        {% for muallif in mualliflar %}
        <option value="{{ muallif.id }}">{{muallif.ism}}</option>
        {% endfor %}
    </select>

    <button>Qo'shish</button>
</form>
</body>
</html>