<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All authors</title>
</head>
<body>
<br><br>
<hr>
<h1>All authors: </h1>
<form method="get">
    <input type="text" placeholder="search" name="search_word">
    <button>Search</button>
</form>
{% for author in all_authors %}
<br>
<h2>{{author.id}} -- <a href="/selected_author/{{author.id}}/">{{author.ism}}</a> -- {{author.tugilgan_sana}}</h2>

{% endfor %}

<br>
<hr>
<br><br>
<form method="post"> {% csrf_token %}
    <input type="text" placeholder="Ism yozing" name="ism">
    <br>
    <label for="jins">Jinsi</label>
    <select name="jins" id="jins">
        <option value="Erkak">Erkak</option>
        <option value="Ayol">Ayol</option>
    </select>
    <br>
    <input type="number" placeholder="Kitoblar sonini yozing" name="k_soni"><br>
    <label for="tirik">Tirikmi?</label>
    <input type="checkbox" name="tirik" id="tirik"><br>
    <label for="t_sana">Tugilgan sanasi</label>
    <input type="date" id="t_sana" name="t_sana"><br>

    <button>Qo'shish</button>
</form>


</body>
</html>